Ich bin im Homepage
<div class="homeContainer" ng-controller='mainPageCtrl'>
  <div class="row">
    <div class="homeListHolder col-sm-10 col-xs-12">
      <div class="homeArticleList"  id='homeArticle{{$index}}' ng-repeat="article in main.allArticles" ng-mouseenter="main.hoverArticle($index, article._id)" ng-mouseleave="main.hoverArticle($index, article._id)"
      >
        <div class="homeArticleContainer">
          <div class="homeListPhoto" id="homeListPhoto{{$index}}">
            <div class="homeListPhotoImage">
              <img src="{{article.smallPhoto}}" alt="" />
            </div>
          </div>
          <div class="homeListContent">
            <h1 class='homeArticleTitle'>{{article.title}}</h2>
            <h3 class='homeArticleContent'>{{article.content}}</h3>
            <h4 class='homeArticleAuthor'>--{{article.author}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="homeRightNav col-sm-2 col-xs-12">
      <p>
        All Articles
      </p>
      <p>
        Search By Category
      </p>
      <p>
        Our Partners
      </p>
      <p>
        About Us
      </p>
    </div>
  </div>
</div>
