.homeArticleContainer {
  height: 250px;
  outline: 2px solid blue;
}

.homeListContent {
  display: inline-block;
  position: relative;
  height: 250px;
  width: 75%;
  outline: 2px solid yellow;
  float: left;
}

.homeListHolder {
  display: inline-block;
}

.homeListPhoto {
  height: 100%;
  width: 25%;
  display: inline-block;
  outline: 2px solid green;
  float: left;
}

.homeListPhotoImage {
  height: 80%;
  width:  80%;
  margin-top: 10%;
  margin-left: 10%;
  display: inline-block;
  outline: 2px solid green;
  float: left;
}

.homeRightNav {
  display: inline-block;
}

.linkHolder {
  height: 120px;
  width: 50%;
  margin-top: 65px;
  margin-left: 25%;
  outline: 3px solid white;
  color: white;
  position: absolute;
  z-index: 3;
  text-align: center;
  font-size: 28px;
}

.linkHolderContainer{
  width: 97.5%;
  height: 250px;
  position: absolute;
  z-index: 2;
  background-color: #4B1240;
  outline: 2px solid orange;
  opacity: .85
}

.navbarContainer {
  height: 70px;
  background-color: grey;
}
