.homeArticleAuthor {
  margin-left: 30px;
}

.homeArticleContainer {
  height: 250px;
  margin-bottom: 5px;
  background-color: #ebfafa;
}

.homeArticleContent {
  margin: 20px 0 0 10px;
  max-width: 100%;
}

.homeArticleTitle {
  margin: 15px 0 0 10px;
  max-width: 100%;
  font-size: 50px;
}

.homeListContent {
  display: inline-block;
  position: relative;
  height: 250px;
  float: left;
  max-width: 100%;

}

.homeListHolder {
  display: inline-block;
}

.homeListPhoto {
  height: 100%;
  width: 250px;
  display: inline-block;
  float: left;
}

.homeListPhotoImage {
  height: 90%;
  width:  90%;
  margin-top: 5%;
  margin-left: 5%;
  display: inline-block;
  float: left;
}

.homeListPhotoImage img {
    height: 100%;
}

.homeRightNav {
  display: inline-block;
}

.linkHolder {
  height: 120px;
  width: 50%;
  margin-top: 65px;
  margin-left: 25%;
  color: white;
  font-style: bolder;
  position: absolute;
  outline: 3px solid white;
  z-index: 3;
  text-align: center;
  font-size: 38px;
}

.linkHolderContainer{
  width: 97.5%;
  height: 250px;
  position: absolute;
  z-index: 2;
  background-color: #4B1240;
  opacity: .85
}

.navbarContainer {
  height: 70px;
  background-color: grey;
}

.singleArticleContainer {
  width: 90%;
  margin-left: 5%;
  background-color: #DCDCDC;
  padding-bottom: 30px;
}

.singleCaption {
  text-align: center;
}

.singleContentContainer {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  background-color: #e6e6e6;
  text-align: justify;
  padding: 15px;
}

.singleContent {
  font-size: 30px;
}

.singleImage{
  width: 80%;
  margin-left: 10%;
}

.singleImage img{
  width: 100%;
}

.singleTitle {
  margin: 0 0 15px 10%;
  padding: 15px 0 0 0;
  font-size: 45px;
  font-style: bolder;
}
