.homeArticleContainer {
  height: 250px;
  outline: 2px solid blue;
}

.homeListContent {
  display: inline-block;
  position: relative;
  height: 250px;
  width: 75%;
  outline: 2px solid yellow;
  float: left;
}

.homeListHolder {
  display: inline-block;
}

.homeListPhoto {
  height: 100%;
  width: 25%;
  display: inline-block;
  outline: 2px solid green;
  float: left;
}

.homeListPhotoImage {
  height: 80%;
  width:  80%;
  margin-top: 10%;
  margin-left: 10%;
  display: inline-block;
  outline: 2px solid green;
  float: left;
}

.homeRightNav {
  display: inline-block;
}

.navbarContainer {
  height: 70px;
  background-color: grey;
}
